{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
<b>About The Music World!</b><br>
<br>
<strong>Our Mission:</strong><br>
<i>* To spread the joy of music worldwide</i><br>
<i>* To make learning music convenient, easy and fun</i><br>
<i>* To offer an opportunity to learners to achieve internationally established standards of learning</i><br>
<i>* To emphasize on exploring and composing music, while learners achieve excellence in skill to perform and teach music</i><br>
<br>
<br>
The academy has 34000+ students from 81 countries across 24 geographic time zones to pursue their passion for music from the convenience of their homes. The academy offers over 466 courses and has delivered more than 163,000 online classes.

The academy is also transforming the way music is taught in schools across India. We have In-Campus School Programs for school children of all age groups right from kindergarten to Grade 8.

The academy has also been enriching the lives of employees and their families from different companies across India by offering customized corporate programs.
{% endblock body %}
