{% extends 'base.html' %}

{% block title %}Indian Classical Singing{% endblock title %}

{%  block body %}
{% if user.is_authenticated %}
  <div class="col">
          <div class="card-body">
          <h5 class="card-title" style="font-size: 25px">Indian Classical Singing</h5>
          <p class="card-text" style="font-size: 15px">This course will help you to learn the Indian Classical Music. It includes lessons on Raag, Taane, Thumari, etc.</p>
          </div>
  </div>

  <iframe width="420" height="315"
  src="https://www.youtube.com/watch?v=GibiNy4d4gc">
  </iframe>
{% else %}
<h1>Please register or log-in to check-out our courses:</h>
  <a class="btn btn-primary" href="/login" role="button">Log In!</a>
  <a class="btn btn-primary" href="/register" role="button">Register!</a>
{% endif %}
{% endblock body %}