{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}


{% block body %}
<div class=container>
    <div class="card text-bg-dark">
        <img src="/static/card5.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
        </div>
      </div>
</div>

<div class=container>
<form method="post" action="/contact">
{% csrf_token %}
    <div class="mb-3"> 
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your Phone Number">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Your Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">submit</button>
</div>
{% endblock body %}
